:root {
    box-sizing: border-box;
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--purple-100);
    background-image: url('assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.card {
    box-sizing: border-box; 
    background-color: var(--white);
    width: min(90%, 700px);
    margin: 8rem auto;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
}

.title {
    display: flex;
    gap: 2rem;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--purple-950);
}

p {
    color: var(--purple-600);
}

hr {
    height: 1px;
    border: none;
    background-color: var(--purple-100);
}

.faq {
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 350ms ease-in-out;
}

.faq.open {
    grid-template-rows: auto 1fr;
}

.q {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    cursor: pointer;
    text-decoration: none;
    padding-inline: 1rem;
}

h2:hover {
    color: var(--purple-600);
}

.q:focus-visible {
    border-radius: 0.5rem;
    outline: 2px solid var(--purple-600);
}

.a {
    overflow: hidden;
    padding-inline: 1rem;
}

.attribution {
    font-size: 0.5rem;
    color: var(--purple-600);
    padding: 1rem;
    margin-top: auto;
}

@media (min-width: 426px) {
    body {
        background-image: url('assets/images/background-pattern-desktop.svg');
    }

    .card {
        margin: max(3rem, calc(22vw - 7rem)) auto;
    }
}